@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-primary: 'Inter', sans-serif;

:root {
  --container-max: 100%;

  --color-gray-light: #f2f2f2;

  --color-green-moss: #485f3b;
  --color-green-muted: #6c846c;
  --color-green-pastel: #bcccaf;

  --color-white: #fff;
  --color-dark: #183022;

  --color-olive: #afb982;
  --color-olive-light: #dde0cd;

  --font-size--xs: 0.875rem;
  --font-size--sm: 1rem;
  --font-size--md: 1.25rem;
  --font-size--lg: 1.5rem;

  --tablet-breakpoint: 768;

  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
}

html {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--color-gray-light);
}

html,
body,
button,
span,
p,
a,
div {
  font-family: $font-primary;
}

html,
body {
  height: 100%;
  background-color: var(--color-gray-light);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 20px;
}
